*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration-color: none;
    text-decoration-style: none;
    overflow-x: hidden
}
/* index  */   
body {
    background-color: #eae9e6;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;    
    overflow-x: hidden;    
}
.background {
    font-size: 24px;
    text-transform: uppercase;
}
/* menu */
.listas ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;    
}
.listas ul li {          
    padding: 40px;
}

/*central*/

.ilustracion {
    margin-top: 0px;
    margin-left: -1000px;
}
.banner {
    background-color: #50657c;
    color: #eae9e6;
    font-size: 35px;
    width: 500px;
    padding: 20px;    
    text-align: center;    
    transform: translate(84px, 300px);
}

/*footer*/
.footer ul {
    display: flex;
    justify-content: center;
}
.footer ul li {
    margin: 40px;
}
    

/*trabajos*/
.galeria {
    display: grid;
    gap: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
}
.galeria .icono-trabajo {
    color: #50657c;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.galeria .icono-trabajo img {
    width: 100%;
}

/*comics*/
.galeria .icono-comic img {
    width: 100%;    
}
/*responsive*/
/*tablet*/
@media screen and (min-width: 768px) { 
    .listas ul {
        justify-content: center;
    }
    .footer ul {
        justify-content: center;
    }    
}

@media screen and (min-width: 1200px) { /*escritorio*/
    .listas ul {
        justify-content: end;
           
    }
    .footer ul {
        justify-content: end;
    }
    
}
/*responsive galeria trabajos y comics*/
@media screen and (min-width: 768px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .galeria {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}
           
/* bio */

#bio {
    display: inline;

}

.bio-escrita {
    width: 300px;
    border: solid 3px #ba4243;
    padding: 20px;
}





/*
.banner {
    position: relative;
    top: 100px;
    left: 125px;
}
.banner h1 {
    background-color: #50657c;
    color: #eae9e6;
    position: absolute;
    display: inline;
    padding: 20px;
    margin: 10px;
    align-content: center;
}   
.main .ilustracion img {
    height: 768px;
    min-height: 100vh;    
    padding: 20px;
    margin-left: -1100px;
}*/