* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  overflow-x: hidden;
}

/*index*/
.background {
  background-color: #eae9e6;
  overflow-x: hidden;
}

.background .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-transform: uppercase;
  margin: 0px 45px;
}

.background .navbar-light .navbar-nav .nav-link {
  color: #50657c;
  margin: 0px 10px 0px 10px;
}

.background .navbar-nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.7em;
}

.background .navbar-brand {
  margin-left: 45px;
}

.background .navbar-togller-icon {
  margin: 0px 45px 0px 0px;
}

.background .ilustracion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.background .footer ul li {
  margin: 10px;
  font-size: 1em;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.galeria .ilus-secciones {
  width: 400px;
  font-size: 0.75em;
  text-align: center;
  margin-top: 20px;
}

.galeria .ilus-secciones p {
  padding: 10px;
}

.galeria .icono-comic {
  width: 400px;
  font-size: 00.75em;
  text-align: center;
  margin-top: 20px;
}

.main-galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 52px 0px 52px;
}

.main-galeria .datos-galeria {
  padding: 20px;
  margin-left: 15px;
}

.main-galeria .datos-galeria h1 {
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-galeria .datos-galeria p {
  width: 600px;
  text-align: justify;
  font-size: 1.05em;
}

.main-galeria .datos-galeria p .salto-linea {
  display: block;
}

.main-galeria .cuerpo {
  margin-top: 35px;
  width: 719px;
  margin: 0 px 20px 0px 20px;
}

.main-galeria .cuerpo .ilus-galeria {
  margin: 0px 0px 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .background .navbar-brand {
    margin: auto;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .main-galeria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main-galeria .datos-galeria {
    padding: 0px;
    margin: 0px;
  }
  .ilustracion {
    margin: 0px 40px;
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: end;
  }
  .galeria .ilus-secciones {
    width: 300px;
  }
}
