.main-galeria {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    .foto {
        margin-top: 0px;
        width: 719px;       
    }
    .datos-galeria {
        padding: 20px;
        margin-left: 15px;
        p {
            width: 600px;
            text-align: justify;
            font-size: 1.05em;
        }
}
}
@media screen and (max-width: 767px) {
    .main-galeria{
        display: flex;
        flex-direction: column;

    }
}

@media screen and (min-width: 1200px) { /*laptop*/
.main-galeria {
    padding: 300px 0px 10px;
}



}


