.container .encabezado {
    text-transform: uppercase;
    font-weight: 700;
    color: #ced17f;
}
.form-horizontal {
    margin: 28px 20px;
    width: 719px;
}
.form-group
.btn-primary {
    margin-top: 20px;
    background-color: #ced17f;
    color: black;
    border: none;
}