*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
        .encabezado {
        text-transform: uppercase;
        font-weight: 900;
        color: $colorAmarillo;
        margin: 0px;
        }
}

.btn {
    background-color: $colorAmarillo;
    color: $colorBlanco;
    font-weight: 700;
    border: none;
    margin-top: 10px;
}
.btn:hover {
    background-color: $colorBlanco;
    color: $colorAmarillo;
}
.swal-title {
    font-family: 'Roboto', sans-serif ;
    color: $colorAmarillo;
    font-weight: 700;
    
}
.swal-text {
    width: 100%;
    font-family: 'Roboto', sans-serif ;
    text-align: center;
  }
  .swal-button-container {
    display: flex;
    justify-content: center;
    
    
}
.swal-button {
    background-color: $colorAmarillo;
    color: $colorBlanco;
    font-weight: 700;        
}
//laptop 
@media screen and (min-width: 1024px) { 
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        max-width: 1000px;        
        margin: 0 auto;
        padding: 250px 0 150px 0; 
        .formulario {
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 100%;
            padding-left: 20px;
            .encabezado {
                font-size: 3.5em;   
            }
            .nombreCasillero {
                font-size: 1.2em;
                margin: 15px 0px 5px 0px;
            }
            .casilleros {
                border: 2px solid $colorAmarillo;
            }
            .casilleros:hover {
                border: 2px solid ;
            }
            .msj {
                height: 90px;
            }
            .btn {
                height: 30px;
                margin-top: 15px;
                font-size: 1.4em;
            }
        }
        .ilus-ctc img {
            width: 100%; 
            padding: 5px 20px 0 0;     
        }
    }
}
//tablet
@media screen and (min-width: 768px) and (max-width: 1023px ) { 
    .container{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        max-width: 600px;        
        margin: 0 auto;
        padding: 150px 0 100px 0; 
        .formulario {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-left: 15px;
            .encabezado {
                font-size: 2.5em;   
            }
            .nombreCasillero {
                font-size: 1.2em;
                margin: 15px 0px 5px 0px;
            }
            .casilleros {
                border: 2px solid $colorAmarillo;
            }
            .casilleros:hover {
                border: 2px solid ;
            }
            .msj {
                height: 100px;
            }
            .btn {
                height: 30px;
                margin-top: 15px;
                font-size: 1.4em;
            }
        }
        .ilus-ctc img {
            width: 100%; 
            padding-right: 15px;     
        }
    }

}
//movil
@media screen and (max-width: 767px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        max-width: 300px;        
        margin: 0 auto;
        padding: 150px 0 100px 0; 
        .formulario {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-top: 30px;
            .encabezado {
                font-size: 2.5em;   
            }
            .nombreCasillero {
                font-size: 1.4em;
                margin: 15px 0px 5px 0px;
            }
            .casilleros {
                border: 2px solid $colorAmarillo;
            }
            .casilleros:hover {
                border: 2px solid ;
            }
            .msj {
                height: 100px;
            }
            .btn {
                height: 30px;
                margin-top: 15px;
                font-size: 1.4em;
            }
        }
        .ilus-ctc img {
            width: 100%;      
        }
    }
}