.container {
    margin: 0px 47px;
    .encabezado {
    text-transform: uppercase;
    font-weight: 700;
    color: #ced17f;
    }
}
.form-horizontal {

    width: 719px;
}
.form-group
.btn-primary {
    margin-top: 20px;
    background-color: #ced17f;
    color: black;
    border: none;
}