@media screen and (max-width: 767px){ /*movil*/
    .navbar {
        font-size: 0.5rem;
        position: fixed;
        z-index: 100;
        .navbar-brand {
            width: 90px;
            margin-left: -10px;            
        }
        .navbar-toggler {
            background-color: #7ebcb2;
            margin-top: 10px;
        }
        .navbar-nav {
            font-size: 1rem;
        }
        .navbar-link {
            padding: 0px;
        }

    }
    .main .titular h1 {
        margin-top: 30px;
        padding: 90px 0px 10px;
        font-size: 2rem;
        }
        .ilustracion {
        padding: 10px 35px 0px;
        }
    .galeria {
        margin: 20px 20px 0px;
        padding: 90px 0px 10px;
        .ilus-secciones {
            padding: 10px;
        }
    }
    .main-galeria {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        padding: 90px 0px 10px;
        .ilus-galeria {
            width: 100%;
            padding: 8px 40px;
        }
        .datos-galeria {
            margin: 0px;
            padding: 8px 40px;
            p {
                width: 100%;                
                font-size: 1rem;
                word-spacing: normal;
                line-height: 1.8rem;
                letter-spacing: normal;
            }
            .titu-trabajos {
                font-size: 2.7rem;
            }
            .titu-comics {
                font-size: 2.7rem;
            }
        }
    }
    .footer ul {
        font-size: 0.7rem;
        padding: 0px;
        p {
            margin: 0px;
            padding: 5px;
        }
        li {
            margin: 0px;
            padding: 5px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px ) { /*tablet*/
    .background {
        font-size: 1rem;
        .navbar {
            margin-top: 20px;
            padding: 0px 40px;
            position: fixed;
            z-index: 100;
        }
        .navbar-brand {
            width: 200px;
            margin-left: 30px;            
        }
        .navbar-toggler {
            background-color: #503748;
        }
        .navbar-nav {
            font-size: 1rem;
        }
        .navbar-link {
            padding: 0px 0px;
        }
        .main {    
            margin-top: 130px;     
            padding: 10px 80px 0px;
        }
        .titular h1 {
            font-size: 5rem;
            padding: 10px ;
        }
    }

    .galeria {
        margin: 140px 20px 0px;
        padding: 0px 50px;
        .ilus-secciones {
            width: 300px;
            padding: 15px 10px;
        }
    }
    .main-galeria {
        display: flex;
        justify-content: center;
        margin: 150px 70px 0px 70px;
        .cuerpo {
            width: 100%;
            padding: 0px 15px 0px 15px;
        }
        .ilus-galeria {
            width: 100%;
            padding: 5px;

        }
        .datos-galeria {
            width: 600px;
            padding: 0px 0px 0px 15px;
            p {
                width: 100%;

                font-size: 1rem;
                word-spacing: normal;
                line-height: 1.8rem;
                letter-spacing: normal;
            }
            .titu-trabajos {
                font-size: 2.7rem;
            }
            .titu-comics {
                font-size: 2.7rem;
            }
        }
    }
    .footer ul {
        font-size: 1rem;
        padding: 0px;
        p {
            margin: 0px;
            padding: 5px;
        }
        li {
            margin: 0px;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 1200px) { /*laptop*/
    .background {
        font-size: 1rem;
        .navbar { 
            position: fixed;
            z-index: 100;
        }
        .navbar-brand{
            width: 250px;
            margin: 0px 75px 0px 120px;
        }       
        .navbar-nav {
            font-size: 2.5rem;
            margin: 60px;
        }    
    }
    .titular  {
        padding: 250px 0px 10px;
        }
        h1 {
        font-size: 5rem;
        padding: 30px;
        letter-spacing: 0.2rem;
        word-spacing: 1rem;
        margin-bottom: 20px;
    }
    .galeria {
        margin: 300px 180px 20px;
        .ilus-secciones {
            margin-bottom: 80px;
        } 
    }
    .main-galeria {
        display: flex;
        justify-content: center;    
        margin: 300px 230px 0px 230px;
        padding: 0px;
        .cuerpo {
            width: 100%;
            margin: 0px 20px 0px 20px;
            .ilus-galeria {
                width: 100%;
                padding-bottom: 20px;
            }
        }
        .datos-galeria {
            width: 100%;
            position: sticky;
            top: 1000px;
            padding: 0px 20px;
            margin-left: 15px;  
            p {
                width: 540px;
                font-size: 1.5rem;
                word-spacing: normal;
                line-height: 2.8rem;
                letter-spacing: normal;
            }
            .titu-trabajos {
                font-size: 4rem;
            }
            .titu-comics {
                font-size: 4rem;
            }
        } 
    }
    .footer ul {
        font-size: 1.5rem;
        padding: 0px;
        p {
            margin: 0px;
            padding: 10px;
        }
        li {
            margin: 0px;
            padding: 10px;

        }
    }
}