*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}

a:link, a:visited, a:active {
    text-decoration: none;
}

@import "contacto";
@import "bio";
@import "responsive";

/*index*/
html {
    font-size: 10px;
}
.background {  
    background-color: #eae9e7;     
    overflow-x: hidden;    
    .navbar { /*navbar*/
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #eae9e7;
        .navbar-nav {            
            text-transform: uppercase;
            .nav-link {
                width: 100%;
                color: #503748;
                font-weight: 700;
                padding: 5px 40px;
            }
        }        
    }
    .main .titular {/*cuerpo*/
        display: flex;
        justify-content: center;
        h1 {
            text-transform: uppercase;
            color: #3a8571;
            font-weight: 900;
            text-align: center;
        }
    }
    .ilustracion {     
        display: flex;
        justify-content: center;
        margin-top: auto; 
        margin-bottom: 20px;       
    }
    .footer { /*footer*/
        display: flex;
        justify-content: center;
        img {
            width: 50px;
        }
        p {
            padding: 0px 0px 0px 15px;
            .salto-linea{
                display: block;
            }
            .nombre-footer {
                font-weight: 700;
            }
        }
        a {
            margin-top: -20px;
            padding: 0px 0px 0px 15px;
        }         
        .color-link { 
            font-weight: 700;
            color: #3a8571;
        }
    }
}

/*seccion trabajos y comics*/
.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;     
}

/*galeria de trabajos y comics*/
.datos-galeria {      
    .titu-trabajos {
        color: #516f6b;
        padding: 0px 0px 10px 0px;                 
        text-transform: uppercase;
        font-weight: 700;
    }
    .titu-comics {
        color: #7ebdb3;
        padding: 0px 0px 10px 0px;    
        text-transform: uppercase;
        font-weight: 700;
    }
    p {
        margin-bottom: 20px;
        .salto-linea {
             display: block;
        }
        .color-link {
                color: #516f6b;
                font-weight: 700;
        }
    }
        button {
            background-color: #516f6b;
            color: #eae9e7;
            margin: 0px 10px 10px 0px;
            width: 40px;
            height: 30px;
            border: none;
            font-size: 1.5rem;
            font-weight: 700;
        }
    
}


 
