*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}
a:link, a:visited, a:active {
    text-decoration: none;
}


@import "contacto";
@import "bio";
@import "responsive";

/*index*/

.background {  
    background-color: #eae9e6;     
    overflow-x: hidden;
    .navbar-brand { /*gif*/
        margin-left: 20px;
        img {
            margin-left: 40 px;
        }
    }  
    .navbar-nav {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.7em;
        padding: 20px;
        .nav-item {
            padding: 20px;
        }

    }
    .navbar-collapse {
        justify-content: end;
        text-transform: uppercase;
        margin: 0px; 
        
        .nav-link {
            color: #50657c;
        }        
    }

    .ilustracion {     
        display: flex;
        justify-content: center;
        margin-top: auto;        
    }
    .footer ul {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: #50657c;
        font-weight: 700;
        background-color: #50657c;
        margin-top: 20px;
        li {
            margin: 10px;
            font-size: 1em;
        }
        a:hover {
            color: #50657c;
        }
        a:visited {
            color: #50657c;
        }
    }
}
/*seccion trabajos y comics*/
.galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;     
    margin: 0px 52px 0px 52px;
    .ilus-secciones {
        width: 400px;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        p {
            padding: 10px;
        }
    }
    .icono-comic {
        width: 400px;
        font-size: 00.75em;
        text-align: center;
        margin-top: 20px;
    }

}
.main-galeria {   
    display: flex;
    justify-content: center;
    margin: 0px 52px 0px 52px;
    .cuerpo {
        margin-top: 35px;
        width: 719px;
        margin: 0 px 20px 0px 20px;
        .ilus-galeria {
            margin: 0px 0px 20px;
            width: 100%;
        }
    }    
    .datos-galeria {
        padding: 20px;
        margin-left: 15px;      
        h1 {
            padding: 10px 0px ;                 
            text-transform: uppercase;
            font-weight: 700;
        }
        p {
            width: 600px;
            text-align: justify;
            font-size: 1.05em;
            .salto-linea {
                display: block;
            }
        }
    }
}

// h1 {
//     position: absolute;
//     background-color: #50657c;
//     color: #eae9e6;
//     width: 500px;
//     font-size: 2em;
//     padding: 20px;
//     text-align: center;
//     margin-top: 40px;
//     margin-left: 200px;
// }


 
