*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden
}
/*index*/
.background {  
    background-color: #eae9e6;     
    overflow-x: hidden;  
    .navbar-collapse {
        justify-content: end;
        text-transform: uppercase;
        margin: 0px 45px;        
    }
    .navbar-light .navbar-nav .nav-link {
        color: #50657c ;
        margin: 0px 10px 0px 10px;
    }
    .navbar-nav {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.7em;
    }
    .navbar-brand {
        margin-left: 45px;
    }
    .ilustracion {     
        display: flex;
        justify-content: center;
        
    }
    .footer ul {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        text-decoration: none;
        li {
            margin: 10px;
            font-size: 1em;
        }
    }
}
/*seccion trabajos y comics*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    .ilus-secciones {
        width: 400px;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        p {
            padding: 10px;
        }
    }
    .icono-comic {
        width: 400px;
        font-size: 00.75em;
        text-align: center;
        margin-top: 20px;
    }

}
.main-galeria {   
    display: flex;
    justify-content: center;
    margin: 0px 52px 0px 52px;
    .datos-galeria {
        padding: 20px;
        margin-left: 15px;      
        h1 {
            padding: 10px 0px ;                 
            text-transform: uppercase;
            font-weight: 700;
        }
        p {
            width: 600px;
            text-align: justify;
            font-size: 1.05em;
            .salto-linea {
                display: block;
            }
        }
    }
    .cuerpo {
        margin-top: 35px;
        width: 719px;
        margin: 0 px 20px 0px 20px;
        .ilus-galeria {
            margin: 0px 0px 20px;
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .background .navbar-brand  {
        margin: 30px auto;
    }
    .main-galeria {
        flex-direction: column-reverse;
        .datos-galeria {
            padding: 0px;
            margin: 0px;
        }
     }
    .background .ilustracion {
        padding: 35px;        
    }

    .galeria .ilus-secciones {
        margin: 35px;
        }
    .navbar-toggler {
        margin-right: 10px;
        border: none;        
    }        
}

/*maps*/
$colores-rs: (
    ig: blueviolet,
    tw: lightblue,
);
@each $nombre, $valor in $colores-rs {
    .tipo__#{$nombre}{
        color: $valor
    }    
}
$color-di: (
    tipo: #50657c,
    bg: #aa5656,
    footer: red,
);
.color-prueba {
    background-color: map-get($map:$color-di , $key:bg );
}

/*extend*/
.bg-rs {
    background-color: #aa5656;
    border: 5px;
}
.bg-rs--oscuro {
    @extend .bg-rs;
    border-color: black;
}

/*mixins*/
@mixin fb {
    background-color: blue;
    color: white;
}
.fb-rs {
    @include fb;
    border-color: black;
}




// h1 {
//     position: absolute;
//     background-color: #50657c;
//     color: #eae9e6;
//     width: 500px;
//     font-size: 2em;
//     padding: 20px;
//     text-align: center;
//     margin-top: 40px;
//     margin-left: 200px;
// }


 
